---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import TagCloud from '@components/TagCloud.astro';
import StarRating from '@components/StarRating.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';
import { getCollection } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import { filterPosts } from '@components/utils';
import '@styles/blog_index.css'

const allPosts = await getCollection('blog-en');
const displayedPosts = filterPosts(allPosts);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<TagCloud showCount="true"/>
			<section>
				<ul>
					{
						displayedPosts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<StarRating rating={post.data.rating} index={true}/>
									<h4 class="title">{post.data.title}</h4>
									<p class="tag">{post.data.tag}</p>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
