---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '@styles/global.css';
import { ui_text } from '@i18n/ui';

interface Props {
	image?: string;
}

const locale = Astro.currentLocale;
const ui = ui_text[locale as keyof typeof ui_text];
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { image = '/src/assets/img/posts/blog-placeholder-1.jpg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href=`/favicon.svg` />
<link rel="sitemap" href=`/sitemap-index.xml` />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
<link
	rel="alternate"
	type="application/rss+xml"
	title={ui.nav.site_title}
	href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href=`/fonts/atkinson-regular.woff` as="font" type="font/woff" crossorigin />
<link rel="preload" href=`/fonts/atkinson-bold.woff` as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{ui.nav.site_title}</title>
<meta name="title" content={ui.nav.site_title} />
<meta name="description" content={ui.nav.site_description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={ui.nav.site_title} />
<meta property="og:description" content={ui.nav.site_description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={ui.nav.site_title} />
<meta property="twitter:description" content={ui.nav.site_description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
