---
import HeaderLink from './HeaderLink.astro';
import { ui_text } from '@i18n/ui';
import LanguagePicker from '@components/LanguagePicker.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const currentLocale  = Astro.currentLocale || Astro.params.locale || 'en';

const ui = ui_text[currentLocale as keyof typeof ui_text];
const homeURL = getRelativeLocaleUrl(currentLocale, '');
const blogURL = getRelativeLocaleUrl(currentLocale, 'blog');
const aboutURL = getRelativeLocaleUrl(currentLocale, 'about');
---

<header>
	<nav>
		<h2><a href={homeURL}>{ui.nav.title}</a></h2>
		<div class="internal-links">
			<HeaderLink href={homeURL}>{ui.nav.home}</HeaderLink>
			<HeaderLink href={blogURL}>{ui.nav.blog}</HeaderLink>
			<HeaderLink href={aboutURL}>{ui.nav.about}</HeaderLink>
		</div>
		<div>
			<LanguagePicker />
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		
	}
</style>
