---
import HeaderLink from './HeaderLink.astro';
import { ui_text } from '@i18n/ui';
import LanguagePickerDropdown from '@components/LanguagePickerDropdown.astro';
import LanguagePickerSimple from '@components/LanguagePickerSimple.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const currentLocale  = Astro.currentLocale || Astro.params.locale || 'en';

const ui = ui_text[currentLocale as keyof typeof ui_text];
const homeURL = getRelativeLocaleUrl(currentLocale, '');
const blogURL = getRelativeLocaleUrl(currentLocale, 'blog');
const aboutURL = getRelativeLocaleUrl(currentLocale, 'about');
---

<header>
	<nav id="pc-nav">
		<h2><a href={homeURL}>{ui.nav.title}</a></h2>
		<div id="pc-links">
			<HeaderLink href={homeURL}>{ui.nav.home}</HeaderLink>
			<HeaderLink href={blogURL}>{ui.nav.blog}</HeaderLink>
			<HeaderLink href={aboutURL}>{ui.nav.about}</HeaderLink>
		</div>
		<div id="pc-language-picker">
			<LanguagePickerDropdown />
		</div>
	</nav>
	<nav id="mobile-nav">
		<div id="upper-bar">
			<h2><a href={homeURL}>{ui.nav.title}</a></h2>
			<div id="hamburger-icon">
				<div id="bar1"></div>
				<div id="bar2"></div>
				<div id="bar3"></div>
			</div>
		</div>
		<div id="mobile-links">
			<HeaderLink href={homeURL}>{ui.nav.home}</HeaderLink>
			<HeaderLink href={blogURL}>{ui.nav.blog}</HeaderLink>
			<HeaderLink href={aboutURL}>{ui.nav.about}</HeaderLink>
		</div>
		<div id="mobile-language-picker">
			<LanguagePickerSimple />
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: var(--black);
	}
	#pc-nav, #upper-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#pc-nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	#pc-nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	#mobile-nav.open {
		overflow-y: hidden;
		#mobile-links, #mobile-language-picker { 
			display: block;
		}
	}
	#mobile-links, #mobile-language-picker {
		display: none;
	}
	@media (min-width: 601px) {
		#mobile-nav {
			display: none;
		}
	}
	@media (max-width: 600px) {
		#pc-nav {
			display: none;
		}
	}
	#hamburger-icon {
		margin: 12px 0;
		div {
			width: 35px;
			height: 3px;
			background-color: rgb(var(--gray-dark));
			margin: 6px 0;
			transition: 0.5s;
		}
	}
	#hamburger-icon.open{
		#bar1 {
			transform: rotate(-45deg) translate(-6px, 6px);
		}
		#bar2 {
			opacity: 0;
		}
		#bar3 {
			transform: rotate(45deg) translate(-6px, -8px);
		}
	}
</style>

<script>
  import { dropdownScript } from './dropdown';
  dropdownScript();
  import { mobileMenu } from './mobileMenu';
  mobileMenu();
</script>