---
import { getAlternateLanguageLinks, getCurrentLanguageData } from '@i18n/utils';

const currentLocale  = Astro.currentLocale || Astro.params.locale || 'en';
const currentPath = Astro.url.pathname;

const links = getAlternateLanguageLinks(currentLocale, currentPath);
const currentLinks = getCurrentLanguageData(currentLocale);
---

<div>
  <div class="active">
    <img src={currentLinks.img} />
    {currentLinks.name}
  </div>
  <div class="alternate">
  {
    links.map(({ locale, name, img, url }) => (
      <div>
        <a href={url} lang={locale}>
          <img src={img} />
          {name}
        </a>
      </div>
    ))
  }
  </div>
</div>

<style>
  a {
    color: var(--gray-dark);
    text-decoration: none;
    border-top: 1px solid black;
    padding: 6px 0;
  }
  a:hover {
    color:var(--accent);
    transition: all 0.2s ease-in-out;
  }
  img {
    height: 0.8rem;
  }
</style>